{% extends "mildb/newbase.html" %}

{% block title %} Ethnic Targets: {{ ethnictarg.type }}{% endblock %}
{% block main_heading %} Ethnic Targets : {{ ethnictarg.type }}{% endblock %}

{% block content %}
<table>
  <tr><td><b>Country</b></td><td><b>Groups</b></td></tr>
  {% for item in results %}
  <tr>
    <td><a href="/militias-db/country/{{ item.0.id }}">{{ item.0.name }}</a></td>
    {% if item.1 %}
    {% for g in item.1 %}
    {% if forloop.first %}
    <td><a href="/militias-db/pgag/{{ g.id }}">{{ g.name }}</a></td></tr>
    {% else %}
    <tr><td></td><td><a href="/militias-db/pgag/{{ g.id }}">{{ g.name }}</a></td></tr>
    {% endif %}
    {% endfor %}
    {% else %}
    <td>None</td></tr>
    {% endif %}
  {% endfor %}
</table>


{% endblock %}
