{% extends "mildb/newbase.html" %}

{% block title %}Welcome{% endblock %}
{% block main_heading %}Welcome{% endblock %}

{% block content %}

<p>
Welcome to the database-development web pages of the Militias Project. You can browse for
information on pro-government militias, their types, members,
targets, purpose, support, and countries using the menu options on the left side of the
screen.</p>
<p>
<br />
Please note: This version is continuously updated and is not available to the
public. The public database is available <a href="http://www.sowi.uni-mannheim.de/militias-public/">here</a>.
</p>
<br />
<p>
Main Investigators: <a href="mailto:sabine.carey@uni-mannheim.de?subject=PGM Database">Sabine Carey</a> and
<a href="mailto:n.mitchell@ucl.ac.uk?subject=PGM Database">Neil
Mitchell</a>.
<br />
<br />
</p>
<p>
This website was built by Will Lowe and is maintained by <a
href="mailto:anita.gohdes@uni-mannheim.de?subject=PGM Database">Anita Gohdes</a>.
</p>

{% endblock %}
